.productos {
    margin: 5rem;
}
.productos h2 {
    display: flex;
    justify-content: center;
    margin:5rem ;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
}

.card {
    height:450px ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
}
.card:hover {
    border-color: black;
}
.card-img-top {
    height: 270px;
    margin-bottom: 15px;
    background-size: cover;
}
.card img{
    width: 100%;
}


.card button{
    background-color: #817d7d;
    color: #fff;
    font-size: 0.8rem;
    text-transform: uppercase;
    padding: 0.8rem 1.5rem;
    width: 80%;
    text-align: center;
    cursor: pointer;
    margin: 0 auto 20px auto;
    border-radius: 25px;
    border-color: transparent;
}

.card button:hover{
    background-color: #cecbcb;
    border: none;
}

/* CARRITO */
.carrito h3{
    font-size: 1.8rem;
    text-align: center;
    color: black;
}

.carrito ul{
    list-style: none;
}


.carrito ul li{
    padding: 10px;
}